/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* анимация меню */
.theme-menu__button:disabled::before {
    content: '▶';
    position: absolute;
    width: 10px;
    height: 10px; 
    animation: move 0.5s ease-in-out infinite alternate;
    margin-inline-start: -20px;
} 

.theme-menu__button:disabled,
.theme-menu__button:hover  {
    opacity: 0.6;
    transition: opacity 0.3s ease;
} 

.theme-menu__button:disabled {
    pointer-events: none;
}

.theme-menu__button:hover {
    cursor: pointer;;
} 

.theme-menu__button:focus {
    outline: none;
    opacity: 0.6;
} 

.theme-menu__button:focus-visible {
    opacity: 0.6;
} 

.theme-menu__button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    opacity: 0.6;
    transition: width 0.3s ease;
    background-color: var(--main-text-color);
} 

.theme-menu__button:focus-visible::after {
    width: 100%;
} 

@keyframes move {
    0% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(1) translateX(4px);
    }
}

/* анимация сердца */
.like-icon .main-body {
    fill: none;
    transition: fill 0.3s linear;
}

.like-icon .core {
    fill: none;
    transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .main-body {
    fill: var(--main-text-color);
    transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .core {
    fill: var(--main-text-color);
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
    fill: #FF0000;
    transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
    fill: #FF0000;
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: #FF0000;
    transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
    fill: #FF0000;
    transition: fill 0.3s linear;
}
  

.like-icon.is-liked .contour {
    fill: #FF0000;
    transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
    animation: scale 0.3s 0.1s ease-in alternate;
    transform-origin: center;
}  

@keyframes scale {
    from {
        scale: 1;
    }
    to {
        scale: 1.5;
    }
}

.like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in alternate;
}

.like-icon .contour {
    fill: var(--main-text-color);
    transition: fill 0.1s linear;
}

.sparks {
    opacity: 0;
    fill: #FF0000;
}

@keyframes sparks {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


